<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.media.mob">

    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" />

    <application>
        <!-- 穿山甲广告SDK -->
        <provider
            android:name="com.bytedance.sdk.openadsdk.TTFileProvider"
            android:authorities="${applicationId}.TTFileProvider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/csj_file_paths" />
        </provider>

        <provider
            android:name="com.bytedance.sdk.openadsdk.multipro.TTMultiProvider"
            android:authorities="${applicationId}.TTMultiProvider"
            android:exported="false" />

        <!-- 优量汇广告SDK -->
        <provider
            android:name="com.qq.e.comm.GDTFileProvider"
            android:authorities="${applicationId}.gdt.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/gdt_file_path" />
        </provider>

        <!-- 聚合广告SDK -->
        <activity
            android:name=".activity.MediaMobConfirmActivity"
            android:exported="false"
            android:multiprocess="false"
            android:screenOrientation="behind"
            android:theme="@style/mob_dialog_activity" />

        <activity
            android:name=".activity.MediaMobWebActivity"
            android:exported="false"
            android:multiprocess="false"
            android:screenOrientation="behind"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
    </application>
</manifest>